#displayHere {
	font-size: 2em;
	margin: .5em 0;
}
#calculator {
	width: 460px;
	margin: 2em auto;
	border: groove #990000 1em;
	border-radius: 20px;
	padding: 1em;
}
#total {
	margin-top: 2em;
}
#totalHeading {
	font-size: 2em;
}
.key, .opp, .equal, .clear {
	font-size: 2em;
}
.key {
	width: 3em;
	height: 3em;
	background-color: azure;
}
.opp {
	width: 3em;
	background-color: #990000;
	color: white;
	height: 3em;
}
.equal {
	width: 3em;
	background-color: yellow;
	height: 3em;
}
.clear {
	width: 3em;
	background-color: yellow;
	height: 3em;
}